<form action="/decrypt">
  <textarea name="text" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="Decrypt">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
</form>
